body {
    overflow: hidden;
    font-family: 'Baloo Chettan', cursive;
    //font-family: 'Montserrat', sans-serif;
    background-color: $bg-gray;
}


.stopwatch-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;

    .stopwatch-body {
        @extend %boxShadowOutline;
        box-sizing: border-box;
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 300px;
        width: 300px;
        border-radius: 50%;
        position: relative;

        .controls {
            z-index: 1;
            display: flex;
            flex-direction: row;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            position: absolute;
            top: 0;

            .button {
                @extend %boxShadowInset;
                padding: 2px 0;
                height: 18px;
                border-bottom: 10px solid $stopwatch-base-color;
                width: 65px;
                text-align: center;
                font-size: 10px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                position: absolute;
                text-decoration: none;
                color: $white-text-color;
                cursor: pointer;
                transition: all 0.1s ease;

                &::after,
                &::before {
                    @extend %boxShadowStripsOutline;
                    content: '';
                    display: block;
                    opacity: 0;
                    width: 4px;
                    background-color: $reaction-strip-bg-color;
                    border: 2px solid $reaction-strip-border-color;
                    position: absolute;
                    top: -40px;
                    border-radius: 5px;
                }

                &::after {
                    height: 20px;
                    left: 5px;
                    transform: rotate(-12deg);
                }

                &::before {
                    height: 18px;
                    top: -40px;
                    left: 20px;
                    transform: rotate(12deg);
                }

                &:nth-of-type(1) {
                    background-color: $start-button-bg-color;
                    left: 5%;
                    transform: translateX(-32.5px) translateY(45px) rotate(-56deg);

                    &.active {
                        background-color: $start-button-bg-active-color;
                        @include transform(translateX(-30.5px) translateY(47px) rotate(-56deg));

                        &:after,
                        &:before {
                            animation: showReaction .6s forwards ease;
                        }
                    }
                }

                &:nth-of-type(2) {
                    background-color: $stop-button-bg-color;
                    left: 25%;
                    transform: translateX(-32.5px) translateY(-9px) rotate(-28deg);

                    &.active {
                        background-color: $stop-button-bg-active-color;
                        @include transform(translateX(-30.5px) translateY(-6px) rotate(-28deg));

                        &:after,
                        &:before {
                            animation: showReaction .6s forwards ease;
                        }
                    }
                }

                &:nth-of-type(3) {
                    background-color: $reset-button-bg-color;
                    left: 50%;
                    transform: translateX(-32.5px) translateY(-28px);

                    &:active {
                        background-color: $reset-button-bg-active-color;
                        @include transform(translateX(-32.5px) translateY(-23px));

                        &:after,
                        &:before {
                            animation: showReaction 0.2s forwards ease;
                        }
                    }
                }

                &:nth-of-type(4) {
                    background-color: $new-rec-button-bg-color;
                    left: 75%;
                    transform: translateX(-32.5px) translateY(-9px) rotate(28deg);

                    &:active {
                        background-color: $new-rec-button-bg-active-color;
                        @include transform(translateX(-34.5px) translateY(-6px) rotate(28deg));

                        &:after,
                        &:before {
                            animation: showReaction 0.2s forwards ease;
                        }
                    }
                }

                &:nth-of-type(5) {
                    background-color: $list-res-button-bg-color;
                    left: 95%;
                    transform: translateX(-32.5px) translateY(45px) rotate(56deg);

                    &:active {
                        background-color: $list-res-button-bg-active-color;
                        @include transform(translateX(-35.5px) translateY(47px) rotate(56deg));

                        &:after,
                        &:before {
                            animation: showReaction 0.2s forwards ease;
                        }
                    }
                }
            }
        }

        .stopwatch-box {
            @extend %boxShadowInset;
            position: relative;
            padding: 0;
            box-sizing: inherit;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            border-bottom-left-radius: 15%;
            border-bottom-right-radius: 50%;
            background-color: $stopwatch-base-color;
            z-index: 999;

            .stopwatch {
                @extend %boxShadowInset;
                @extend %boxShadowOutline;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 310px;
                height: 80px;
                border-radius: 30px;
                border: 5px solid $stopwatch-border-color;
                background-color: $stopwatch-bg-color;
                position: relative;
                font-family: 'Press Start 2P', cursive;
                font-size: 1.9em;
                color: $stopwatch-text-color;
            }

            .stopwatch-hole {
                @extend %boxShadowStopwatchHole;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: $stopwatch-hole-bg-color;
                position: absolute;
                left: 20px;
                bottom: 20px;
                text-align: center;

                .stopwatch-inner-hole {
                    @extend %boxShadowStopwatchInnerHole;
                    display: block;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: $bg-gray;
                }
            }

            .logo-box {
                position: absolute;
                top: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                .stopwatch-logo {
                    color: $reset-button-bg-color;
                    filter: blur(1px);
                    opacity: 0.4;
                    z-index: 4;
                    position: absolute;
                }

                .stopwatch-logo2 {
                    z-index: 5;
                    position: absolute;
                    padding: 3px 5px;
                    border-radius: 25px;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    color: $stopwatch-logo-color;
                }
            }
        }

        .strips-controls {
            width: 50px;
            height: auto;
            display: flex;
            flex-direction: column;
            background-color: transparent;
            position: absolute;
            z-index: 9998;
            bottom: 10%;
            right: 13%;
            transform: rotate(45deg);

            .strip {
                @extend %boxShadowStripsOutline;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 50px;
                height: 10px;
                border-radius: 5px;
                background-color: $strip-bg-color;
                margin: 5px;
                position: relative;
                padding: 0 3px;
                overflow: hidden;

                &::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    height: 100%;
                    width: 6px;
                    border-radius: 5px;
                    background-color: $strip-bg-after-color;
                    filter: blur(3px);
                }

                .inner-strip {
                    @extend %boxShadowStripsOutline;
                    display: block;
                    width: 20%;
                    height: 3px;
                    border-radius: 50%;
                    background-color: transparent;
                }
            }
        }

        .handle-spot {
            @extend %boxShadowInsetHandle;
            box-sizing: border-box;
            width: 110px;
            height: 50px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            z-index: 9999;
            bottom: -3px;
            left: 50%;
            border-top-left-radius: 5px;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 25px;
            transform: translateX(-65px) skew(-15deg);
            position: absolute;
            background-color: $strip-bg-color;
            padding-right: 10px;
            padding-left: 5px;

            &::after {
                @extend %boxShadowHandleOutline;
                content: '';
                border-radius: inherit;
                display: block;
                width: 96%;
                height: 98%;
                z-index: 9998;
                position: absolute;
                background-color: transparent;
            }

            .handle-strip {
                @extend %boxShadowStripsOutline;
                height: 90%;
                width: 3px;
                background-color: transparent;
                opacity: 0.4;

                &:last-of-type {
                    height: 60%;
                    align-self: flex-start;
                    margin-top: 4px;
                }
            }
        }
    }

    .record-list-container {
        position: absolute;
        right: 0;
        display: block;
        top: 10px;
        
        h4 {
            @extend %boxShadowOutline;
            background-color: $stopwatch-base-color;
            padding: 10px 20px;
            border-top-left-radius: 25px;
        }

        .results {
            display: block;
            margin: 0;
            padding: 0;
            max-height: 400px;
            overflow-y: scroll;

            .record {
                @extend %boxShadowOutline;
                text-align: center;
                box-sizing: border-box;
                list-style-type: none;
                margin-bottom: 5px;
                background-color: $white-text-color;
                padding: 3px 5px;
                width: 100%;

                &:nth-child(even) {
                    background-color: $bg-light-gray;
                }
            }
        }
    }
}