$bg-gray: rgb(128, 128, 128);
$bg-light-gray: rgb(211, 211, 211);
//
$stopwatch-base-color: rgb(233, 152, 2);
//
$start-button-bg-color: rgb(0, 128, 0);
$start-button-bg-active-color: rgb(144, 238, 144);
//
$stop-button-bg-color: rgb(122, 1, 1);
$stop-button-bg-active-color: rgb(255, 0, 0);
//
$reset-button-bg-color: rgb(0, 0, 0);
$reset-button-bg-active-color: rgb(184, 0, 0);
// 
$new-rec-button-bg-color: rgb(0, 0, 255);
$new-rec-button-bg-active-color: rgb(135, 206, 250);
//
$list-res-button-bg-color: rgb(220, 20, 60);
$list-res-button-bg-active-color: rgb(167, 3, 36);
//
$white-text-color: rgb(255, 255, 255);
$stopwatch-text-color: rgb(24, 141, 87);
//
$stopwatch-border-color: rgb(214, 140, 3);
$stopwatch-bg-color: rgb(22, 22, 22);
$stopwatch-hole-bg-color: rgb(221, 144, 1);
$stopwatch-logo-color: rgb(168, 46, 16);
//
$strip-bg-color: rgb(255, 71, 25);
$strip-bg-after-color: rgba(37, 7, 0, 0.5);


// shadow
@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

%boxShadowHandleOutline {
    -webkit-box-shadow: -5px -6px 4px -6px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: -5px -6px 4px -6px rgba(0, 0, 0, 0.68);
    box-shadow: -5px -6px 4px -6px rgba(0, 0, 0, 0.68);
}

%boxShadowStopwatchHole {
    -webkit-box-shadow: inset 2px -11px 4px -27px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 2px -11px 4px -27px rgba(0, 0, 0, 0.75);
    box-shadow: inset 2px -11px 4px -27px rgba(0, 0, 0, 0.75);
}

%boxShadowStopwatchInnerHole {
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
}

%boxShadowInset {
    -webkit-box-shadow: inset 0px -8px 47px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px -8px 47px -14px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px -8px 47px -14px rgba(0, 0, 0, 0.75);
}

%boxShadowInsetLogo {
    -webkit-box-shadow: inset 2px 4px -31px 18px rgba(0, 0, 0, 0.184);
    -moz-box-shadow: inset 2px 4px -31px 18px rgba(0, 0, 0, 0.184);
    box-shadow: inset 2px 4px -31px 18px rgba(0, 0, 0, 0.184);
}

%boxShadowInsetHandle {
    -webkit-box-shadow: inset 0px -8px 42px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px -8px 27px -14px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px -8px 27px -14px rgba(0, 0, 0, 0.75);
}

%boxShadowOutline {
    -webkit-box-shadow: 0px 9px 14px -5px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0px 9px 14px -5px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 9px 14px -5px rgba(0, 0, 0, 0.68);
}

%boxShadowStripsOutline {
    -webkit-box-shadow: -3px 2px 2px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px 2px 2px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -3px 2px 2px -1px rgba(0, 0, 0, 0.75);
}